<div>
        <div class="modal-header">
            <h2 class="form-control-header" translate="productdlg.AddProduct">Add new product</h2>
        </div>
        <div class="modal-body">
          <form class="form-horizontal modal-body">
            <label  translate="productdlg.Product"></label>
            <input type="text"  class="form-control" placeholder="" ng-model="product.name"/>
            <br>
            <label  translate="productdlg.Price"></label>
            <input type="text"  class="form-control"  ng-model="product.price"/>
            <br>
            <label  translate="productdlg.QuantityInStock"></label>
            <input type="text"  class="form-control"  ng-model="product.quantityInStock"/>
            <br>
            <label  translate="productdlg.Image"></label>
            <input type="text" class="form-control"  ng-model="product.imagePath"/>
            <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-primary form-control-button" type="submit" ng-click="onOk()" translate="productdlg.Add"></button>
            <button class="btn btn-lg btn-danger" type="button" ng-click="onCancel()" translate="productdlg.Cancel"></button>
        </div>



  </form>
</div>
