<button ng-click="lang=EN"> English </button>
<button ng-click="lang=IS"> Icelandic </button>

<div ng-if="errorMessage"> {{errorMessage}}</div>
<div>
  <button type="button" class="btn btn-default" ng-click="addSeller()"> Add new seller </button>
</div>


<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>
        <span translate="Sellers.Title"/> <!-- translate="sellers.Name" -->

      </th>
      <th> <span translate="Sellers.Category"/>  <!-- translate="sellers.Category" --> </th>
      <th><span translate="Sellers.Edit"/></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="seller in sellers">

        <td>
          <a href="seller/{{seller.id}}"> {{seller.name}} </a>
        </td>
        <td> {{seller.category}}
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="editSeller(seller)"> Edit </button>
        </td>
      </tr>
    </tbody>
</table>
