<button ng-click="changeLanguage('en')" translate="sellers.English"></button>
<button ng-click="changeLanguage('is')" translate="sellers.Icelandic"></button>

<div ng-if="errorMessage"> {{errorMessage}}</div>
<div>
  <button type="button" class="btn btn-default" ng-click="addSeller()" translate="sellers.Add"></button>
</div>


<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>
        <span translate="sellers.Title"/> <!-- translate="sellers.Name" -->

      </th>
      <th> <span translate="sellers.Category"/>  <!-- translate="sellers.Category" --> </th>
      <th><span translate="sellers.Edit"/></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="seller in sellers">

        <td>
          <a href="seller/{{seller.id}}"> {{seller.name}} </a>
        </td>
        <td> {{seller.category}}
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="editSeller(seller)" translate="sellers.Edit"></button>
        </td>
      </tr>
    </tbody>
</table>
