<h3> Sellers </h3>
<div ng-if="errorMessage"> {{errorMessage}}</div>
<div>
  <button type="button" class="btn btn-default" ng-click="addSeller()"> Add new seller </button>
</div>

<table>
  <thead>
    <tr>
      <th>
        <span> Sellers </span> <!-- translate="sellers.Name" -->

      </th>
      <th> <span> Category </span> <!-- translate="sellers.Category" --> </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="seller in sellers">
      <!--  <td ng-model="user" ng-click="userInfo"> {{seller.name}} </td> -->
        <td> <a href="seller/{{seller.id}}"> {{seller.name}} </a> </td>
        <td> {{seller.category}} </td>
      </tr>
    </tbody>
</table>
