<div>
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal modal-body">
            <input type="text" ng-model="seller.name">Name</input>
            <input type="text" ng-model="seller.category">Category</input>
            <input type="text" ng-model="seller.imagePath">Image</input>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="onOk()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="onCancel()">Cancel</button>
        </div>

        <div class="modal-footer">
    <div>
  </form>
</div>
