<div>
        <div class="modal-header">
            <h2 class="form-control-header">Add new seller</h2>
        </div>
        <div class="modal-body">
          <form class="form-horizontal modal-body">
            <label for="modalName" class="sr-only" translate="sellerdlg.Seller"></label>
            <input type="text" id="modalName" class="form-control"  ng-model="seller.name"/>
            <br>
            <label for="modalCategory" class="sr-only" translate="sellerdlg.Category"></label>
            <input type="text" id="modalCategory" class="form-control"  ng-model="seller.category"/>
            <br>
            <label for="modalImage" class="sr-only" translate="sellerdlg.Image"></label>
            <input type="text" id="modalImage" class="form-control"  ng-model="seller.imagePath"/>
            <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-primary form-control-button" type="submit" ng-click="onOk()" translate="sellerdlg.Add"></button>
            <button class="btn btn-lg btn-danger" type="button" ng-click="onCancel()" translate="sellerdlg.Cancel"></button>
        </div>

        <div class="modal-footer">
    <div>
  </form>
</div>
