<h3> User id : {{userID}} </h3>
<div ng-if="errorMessage"> {{errorMessage}}</div>
<div>
  <button type="button" class="btn btn-default" ng-click="addProduct()"> Add new product </button>
</div>

<div>
  <div ng-if="errorMessage">
    ErrorMessage: {{errorMessage}}
  </div>
  <img src="{{sellerDetails.imagePath}}"
    <div>
       {{sellerDetails.name}} {{sellerDetails.category}}
    </div>
</div>

<table>
  <thead>
    <tr>
      <th> <span> Products </span> <!-- translate="sellers.Name" --> </th>
      <th> <span> Top 10 </span> <!-- translate="sellers.Category" --> </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in sellerProducts">
        <td> <a href="#"> {{product.name}} </a> </td>
        <td> <a href="#"> {{product.price}} </a> </td>
        <td> <img src="{{product.imagePath}}" /> </td>
      </tr>
    </tbody>
</table>
