<h3> Seller details </h3>
<div ng-if="errorMessage"> {{errorMessage}}</div>
<div>
  <button type="button" class="btn btn-default" ng-click="addProduct()" translate="sellerdetails.Add"> </button>
</div>

<div ng-if="errorMessage">
  ErrorMessage: {{errorMessage}}
</div>

<div>
  <img src="{{sellerDetails.imagePath}}"height="102" width="132"/>
      <div> {{sellerDetails.name}} </div>
      <div>{{sellerDetails.category}} </div>
</div>


<uib-tabset active="activeJustified" justified="true">

  <uib-tab index="0"  >
    <uib-tab-heading translate="sellerdetails.Products"></uib-tab-heading>

    <product ></product>



  </uib-tab>
  <uib-tab index="1" >
    <uib-tab-heading translate="sellerdetails.Top10"></uib-tab-heading>
    hérna á að koma listi yfir topp 10
  </uib-tab>

</uib-tabset>

<hr />
