<div style="float:right;">
  <input type="image" ng-click="changeLanguage('is')" src="http://www.allvacationtour.com/graphics/flags/iceland-flag.jpg" width="35" height="30"/>
  <input type="image" ng-click="changeLanguage('en')" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/US_flag_48_stars.svg/220px-US_flag_48_stars.svg.png" width="35" height="30"/>

</div>

<h3 translate="sellerdetails.Header"></h3>
<div ng-if="errorMessage"> {{errorMessage}}</div>




<div ng-if="errorMessage">
  ErrorMessage: {{errorMessage}}
</div>

<div style="text-align:center;">
  <img src="{{sellerDetails.imagePath}}"height="202" width="242"/>
      <h3> {{sellerDetails.name}} </h3>
      <h4>{{sellerDetails.category}} </h4>
      <div style="padding-top: 0.25cm; padding-bottom: 0.25cm;">
      <button type="button" class="btn btn-default" ng-click="addProduct()" translate="sellerdetails.Add"> </button>
      </div>
</div>


<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0"  >
    <uib-tab-heading translate="sellerdetails.Products"></uib-tab-heading>
      <ul class="list-inline">
        <li ng-repeat="p in sellerProducts">
          <product product="p"> </product>
        </li>
      </ul>
  </uib-tab>
  <uib-tab index="1" >
    <uib-tab-heading translate="sellerdetails.Top10"></uib-tab-heading>
    
    <ul class="list-inline">
      <li ng-repeat="p in sellerTop10Products">
        <product product="p"> </product>
      </li>
    </ul>
  </uib-tab>

</uib-tabset>

<hr />
